<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlinks}}
</head>

<body>
    <div class="fullcontainer">
      {{>header}}
        <div class="content" id="one">
            <div id="about" class="box">
                <div class="aboutcontainer">
                    <h3>Since 2000</h3>
                    <p class="aboutcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At aliquam
                        architecto optio voluptas praesentium saepe iste illum debitis doloremque velit quisquam id, ab
                        quam tenetur corrupti non est reprehenderit impedit voluptate veritatis in. Reiciendis, id
                        cupiditate earum tempora quidem dolor, quaerat natus officia non beatae fugiat nobis
                        necessitatibus fuga corrupti ut ratione qui pariatur! Ratione omnis quidem voluptate, laboriosam
                        deleniti temporibus nobis veniam necessitatibus nostrum, sunt, minus totam animi molestias quos
                        eum suscipit! Fuga atque consequatur officia sapiente assumenda maxime animi, ad sit ratione
                        deleniti maiores! Ut quos facilis, quas quae molestiae blanditiis vel officiis voluptate commodi
                        voluptatem praesentium sapiente sequi. Commodi voluptatibus sed perspiciatis ea. Labore adipisci
                        quasi ullam officia voluptatem vitae voluptate porro, ipsa, sit harum voluptatum corporis
                        consequatur nam. Quos laborum quae reiciendis non cupiditate, quibusdam beatae minima explicabo
                        repudiandae voluptas eius ipsam omnis. Perspiciatis, officia voluptatem alias quod accusamus
                        numquam quis blanditiis aperiam voluptates ab sapiente!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, reiciendis corrupti officiis, veritatis voluptas iste esse ea deleniti, eos numquam placeat ducimus deserunt exercitationem enim. Reiciendis mollitia labore molestiae quia natus ab libero ducimus qui laudantium quasi inventore adipisci autem voluptatibus perspiciatis, debitis iste iusto! Debitis iste odio mollitia? Provident.
                    <p>
                </div>
            </div>
            {{>footer}}
        </div>
        {{!-- <script src="script.js"></script> --}}
</body>

</html>
