<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <div class="fullcontainer">
       {{>header}}
        <div class="content" id="one">
            <div id="home" class="box">
                <div class="hcontainer">

                    <p class="quote" id="quote11">“Food brings people together on many different
                        levels. It's nourishment of the soul and body; it's truly love.”</p>
                    <p class="quote">"Food for us comes from our relatives, whether they have wings or fins or roots.
                        That is how we consider food. Food has a culture. It has a history.It has a story. It has
                        relationships.”
                    </p>

                    <!-- <span style="font-size: 2rem;text-decoration: underline;">Giada De Laurentiis</span> -->
                    <div id="hboxes">
                        <div class="hbox hb1">
                            <h3>Event Buffet</h3>


                        </div>
                        <div class="hbox hb2">
                            <h3>Online food Ordering</h3>


                        </div>
                        <div class="hbox hb3">
                            <h3>Table/Event Reservation</h3>


                        </div>
                    </div>

                </div>
            </div>
            {{>footer}}
        </div>
    </div>
        <!-- <script src="script.js"></script> -->
</body>

</html>