<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <div class="fullcontainer">
        {{>header}}
        <div class="content" id="one">
            <div class="box" id="menudiv">
                <div class="menuholder">
                    <div class="menubox">
                         <h3>chicken burger</h3>
                         <p>Price : Rs.280</p>
                    </div>
                    <div class="menubox">
                         <h3>chicken crispy burger</h3>
                         <p>Price : Rs.350</p>
                    </div>
                    <div class="menubox">
                          <h3>beef burger</h2>
                          <p>Price : Rs.300</p>
                    </div>
                    <div class="menubox">
                          <h3>chicken tikka</h3>
                          <p>Price : Rs.350</p>

                    </div>
                    <div class="menubox">
                          <h3>bihari tikka</h3>
                          <p>Price : Rs.400</p>

                    </div>
                    <div class="menubox">

                          <h3>malai boti</h3>
                          <p>Price : Rs.400</p>
                    </div>
                    <div class="menubox">
                          <h3>pizza</h3>
                          <p>Price : Rs.1000</p>

                    </div>
                    <div class="menubox">
                          <h3>Chowmein</h3>
                          <p>Price : Rs.400</p>

                    </div>
                    <div class="menubox">
                          <h3>cold drink</h3>
                          <p>Price : Rs.60</p>

                    </div>
                </div>
                <button id="navbtnorder"><a href="/order">Order Now</a></button>
            </div>
        </div>
    </div>
    {{>footer}}
    </div>
</body>

</html>