 <nav>
            <div class="navbar" id="navt">
                <span class="logo" id="log2"></span>
                <span class="btn">
                    <!-- <input type="checkbox" name="" id="togglebtn">  -->
                    <button type="button" id="togglebtn">
                        {{!-- <i class='fa-sharp fa-solid fa-xmark'></i> --}}
                    </button>
                    <!-- <button type="button" id="togglebtn2">
                        <i class='fa-sharp fa-solid fa-xmark'></i>
                    </button> -->

                </span>
                <ul id="list">
                    <!-- <li class="logo"></li> -->
                    <li>
                        <button type="button" id="btnhome">
                        <i class="fa-sharp fa-solid fa-house"></i><a href="/">Home</a></button>
                    </li>
                    <li>
                        <button type="button" id="btnabout"><i class="fa-solid fa-address-card"></i><a href="/about">About</a></button>
                    </li>
                    <li>
                        <button type="button" id="btncontact"><i class="fa-sharp fa-solid fa-phone"></i><a href="/contact">Contact</a></button>
                    </li>
                    <li>
                        <button type="button" id="btnmenu"><i class="fa-solid fa-utensils"></i><a href="/menu">Menu</a></button>
                    </li>
                    <li>
                        <button type="button" id="btnorder"><i class="fa-solid fa-cart-shopping"></i><a href="/order">Order now</a></button>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- </div> -->
        <div class="top">
            <div class="heading">
                <h1 id="head">WELCOME TO FOOD_CLUB</h1>
            </div>
            <!-- <> -->
        </div>